@font-face {
  font-family: "Roboto";
  src: url("../fontes/Roboto/Roboto-Medium.ttf") format("ttf");
  /* url("../fontes/Roboto/Roboto-Light.ttf") format("ttf"),
    url("../fontes/Roboto/Roboto-Bold.ttf") format("ttf"),
    url("../fontes/Roboto/Roboto-Regular.ttf") format("ttf"),
    url("../fontes/Roboto/Roboto-Thin.ttf") format("ttf"), */
  /* url("./my-font.woff") format("woff"); */
}
* {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", Fallback, sans-serif;
  /* border: 1px solid black; */
}

#content {
}

.header {
  display: grid;
  background-color: rgb(238, 93, 45);
  color: white;
  padding: 15px 10px;
  justify-content: space-evenly;
  font-size: 1.5rem;
  grid-template-columns: 100px auto;
}
.container {
  height: auto;
  background-color: #fce8dc;
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  gap: 20px;
  background-color: #372c1d;
  color: white;
  justify-content: space-around;
  font-size: 1.2rem;
  padding: 5px;
}
.header div {
  padding: 10px;
  border-radius: 4px;
  /* outline: 1px solid #371d29; */
  /* box-shadow: 5px 10px 18px #a51515; */
  background-color: #372c1d;
}
.header div:hover {
  background-color: rgb(206, 65, 17);
  box-shadow: 5px 10px 18px #a51515;
  cursor: pointer;
}
nav {
  display: flex;
  gap: 35px;
  justify-content: space-between;
  align-items: center;
}
.header img {
  border-radius: 100%;
  width: 100%;
  cursor: pointer;
}
/* home */
img {
  width: auto;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: clamp(300px, 50%, 700px);
  padding: 50px 0;
  gap: 20px;
}
/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 90%;
  max-width: 1500px;
  /* justify-content: center; */
  /* align-items: flex-start; */
  padding-top: 50px;
  padding-bottom: 50px;
}
.item-box {
  display: grid;
  grid-template-columns: 200px auto 65px;
  grid-template-rows: 30px auto;
  column-gap: 20px;
  outline: 1px 0 1px;
}
.item-box img {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  width: 100%;
}
.item-title {
  display: flex;
  align-self: flex-start;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.item-description {
  display: flex;
  align-self: flex-start;
  grid-column: 2 / 4;
  grid-row: 2 / -1;
}
.item-price {
  display: flex;
  align-self: center;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
/* contact  */
.contact {
  display: flex;
  padding: 30px;
  gap: 30px;
  flex-direction: column;
}
.maps {
  width: 500px;
  height: 450px;
  border: 0;
}

.footer a {
  padding: 5px;
  color: white;
  text-decoration: none;
}
.footer a:hover {
  background-color: white;
  text-decoration: none;
  color: #372c1d;
  border-radius: 5px;
}
