* {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
#content {
}

.header {
  display: flex;
  gap: 50px;
  background-color: rgb(238, 93, 45);
  color: white;
  padding: 15px 10px;
  justify-content: center;
  font-size: 1.5rem;
}
.container {
  height: 600px;
  background-color: #fce8dc;
}
.footer {
  display: flex;
  gap: 20px;
  background-color: #372c1d;
  color: white;
  justify-content: space-around;
  font-size: 1.2rem;
}

img {
  width: 500px;
}
